# Node.js dependencies
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Temporary files
temp/

# Environment variables
.env
.env.*

# Git related
.git
.gitignore

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw? 